@model Nalanda.SMS.Areas.Student.Models.EventParticipationsVM

@{
    ViewBag.Title = "Event Participation Details";
}

<div>
    <hr />
    @using (Html.BeginForm("Delete", "Teacher"))
    {
        @Html.HiddenFor(model => model.EPID)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.AntiForgeryToken()
        <p>
            <div class="btn-toolbar">
                @Html.ActionLink("Edit", "Edit", new { id = Model.EPID }, new { @class = "btn btn-primary", style = "min-width:75px" })
            </div>
        </p>
    }
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.StudentName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.Date)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EventDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.EventDesc)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsWinner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.IsWinner)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WinningDetails, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.WinningDetails)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TeacherName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.TeacherName)
            </div>
        </div>

        <br />
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>