@model StudentInformationSystem.Areas.Student.Models.PromotionClassVM

@{
    ViewBag.Title = "Student Promotion Details";
}

<div>
    <hr />
    @using (Html.BeginForm("Delete", "StudentPromotion"))
    {
        @Html.HiddenFor(model => model.PrClID)
        @Html.HiddenFor(model => model.ClassID)
        @Html.HiddenFor(model => model.TeacherID)
        @Html.HiddenFor(model => model.PeriodID)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.AntiForgeryToken()

        <p>
            <div class="btn-toolbar">
                @Html.ActionLink("Edit", "Edit", new { id = Model.PrClID }, new { @class = "btn btn-primary", style = "min-width:75px" })
                @Html.ConfirmSubmitButton("Delete", "Are you sure you want to delete?", "Confirm Promotion Deletion",
                 "<span class='glyphicon glyphicon-trash'></span> Delete", new { @class = "btn btn-danger", style = "min-width:75px" })
            </div>
        </p>
    }


        <div class="form-horizontal">


            <div class="form-group">
                @Html.LabelFor(model => model.PeriodStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.PeriodStartDate)
                </div>
                @Html.LabelFor(model => model.PeriodEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.PeriodEndDate)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ClassGrade, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.ClassGrade)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TeacherName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.TeacherName)
                </div>
                @Html.LabelFor(model => model.NoOfStud, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.NoOfStud)
                </div>
            </div>


            <br />


            <div class="ChildContent">
                @{ Html.RenderAction("ChildIndex", new { id = Model.ClassID, prid = Model.PrClID }); }
            </div>
        </div>
</div>
<br />
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

