@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login - School Management System</title>

    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @* @Scripts.Render("~/bundles/jqueryui")*@

    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #ffffff;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
            top: 50px;
        }

            .form-signin .form-signin-heading {
                line-height: 1.8;
                padding: 15px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 20px;
                color: #636363;
            }

            .form-signin .checkbox {
                margin-bottom: 10px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 14px;
                color: #636363;
                padding-bottom: 20px;
                line-height: 1.8;
            }

            .form-signin .checkbox {
                font-weight: normal;
                padding-bottom: 20px;
                line-height: 1.8;
            }

            .form-signin .form-control {
                position: relative;
                height: auto;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px;
                font-size: 16px;
            }

                .form-signin .form-control:focus {
                    z-index: 2;
                }

            .form-signin input[type="email"] {
                margin-bottom: -1px;
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
                color: #ccc;
                border:1px solid #ccc;
            }

            .form-signin input[type="password"] {
                margin-bottom: 10px;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

            .form-signin .logo {
                margin: 0 auto;
                left: 0;
                right: 0;
                top: -70px;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                /*z-index: 9;*/
                /*background: #60c7c1;*/
                padding: 15px;
                /*box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);*/
            }
            .form-signin .btnSignin {
                font-size: 16px;
                font-weight: bold;
                color:white;
                background: rgba(36, 46, 45, 0.4);
                border: none;
                margin-bottom: 20px;
                
            }
        .description {
            padding: 10px;
            /*box-shadow: 5px 8px rgba(255, 212, 128, 0.8);*/
            height: 50px;
            width: 700px;
            /*background: rgba(255, 212, 128, 0.5);*/
            font-family: Helvetica,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 18px;
            vertical-align: middle;
            /*border: dotted;*/
            /*background-color: rgba(0, 0, 0, 0.3);*/
            color: white;
        }
    </style>

</head>
<body background="@Url.Content("~/Content/Images/background_sms3.png")">
    @model SMS.Areas.Base.Models.SignInVM
    <div class="container">

        <div class="row">

            <div class="col-lg-8" style="top:10px; ">
                <table style="width:100%">
                    <tr style="height:70px; background-color: rgba(255, 255, 255, 0.30);">
                        <td valign="middle">
                            <div class="col-lg-6" style="left:1px">
                                <img src="@Url.Content("~/Content/Images/dharma_chakra.png")" style="width:110px; vertical-align: middle;" />
                            </div>
                            <div class="col-lg-5 " style="right:250px">
                                <img src="@Url.Content("~/Content/Images/National_Institute_of_Business_Management_Logo.png")" style="width:180px; vertical-align:middle;" />
                            </div>
                        </td>
                    </tr>
                    <tr style="height:20px">
                        <td valign="middle">
                            <div class="col-lg-8 description" style="top:50px; width: 600px; font-size: 20px;">
                                <p align="left">SOLVE YOUR ACADEMIC PROBLEMS
                                    <br/>with
                                    <div style="font-size:30px">NIBM AMS<div/>
                                </p>
                            </div>
                        </td>
                    </tr>
                    <tr style="height:20px">
                        <td valign="middle">
                            <div class="col-lg-8 description" style="top:150px;">
                                <p align="left">An Advanced Academic Management System <br />that automates the education sector and facilitate paperless administration</p>
                            </div>
                        </td>
                    </tr>                    
                </table>
            </div>


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-signin col-lg-4" style="background-color:rgba(0, 0, 0, 0.3);border-radius: 10px; padding: 15px">
                    <table style="width:100%">
                        <tr>
                            <td>
                                <div class="form-signin logo pull-left">
                                    <img src="@Url.Content("~/Content/Images/SMS logo.png")" style="width:300px; vertical-align: middle;" />

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h2 class="form-signin-heading" style="color:white;">Member Login</h2>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @{ Html.RenderPartial("~/Areas/Base/Views/Shared/_PartialAlert.cshtml"); }
                            </td>
                        </tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.UserName, "User Name", htmlAttributes: new { @class = "sr-only" })
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", placeholder = "User Name", required = true, autofocus = true } })
                            </td>
                        </tr>
                        <tr><td>&nbsp;</td></tr>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.PassWord, "Password", htmlAttributes: new { @class = "sr-only" })
                                @Html.PasswordFor(model => model.PassWord, htmlAttributes: new { @class = "form-control", placeholder = "Password", required = true })
                            </td>
                        </tr>
                    </table>


                    <div class="checkbox">
                        <label style="color:white;">
                            @Html.CheckBoxFor(model => model.RememberMe) Remember me
                        </label>
                    </div>
                    <input class="btn btn-lg  btn-block btnSignin" type="submit" value="Sign in" />
                </div>
            }

            <div class="col-lg-8" style="top:2px; ">
                <table style="width:100%">
                    <tr style="height:10px; background-color: rgba(255, 255, 255, 0.30);">
                        <td>                            
                        </td>
                    </tr>                    
                </table>
            </div>

            <div class="row">
                <div class="col-md-7 " style="top:60px; font-size:12px; ">
                    <table style="width:100%" border="0">
                        <tr>
                            <td width="10%" valign="middle" align="center">
                                <div>
                                    <img src="@Url.Content("~/Content/Images/emblem.png")" style="width:35px; vertical-align:middle;" />
                                </div>
                            </td>
                            <td width="80%" valign="bottom" style="text-indent:20px">
                                <div style="text-align:left; vertical-align:text-bottom;">
                                    <p>- National Institute of Business Management - </p>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 " style="top:85px; font-size:12px" ; align="right">
                    <p style="text-align:right">© Software Development Unit, NIBM - 2018</p>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
