@model Nalanda.SMS.Areas.Student.Models.LeavingCertificatesVM
@{
    ViewBag.Title = "Leaving Certificate Details";
}


<div>
    <hr />
    @using (Html.BeginForm(null, ""))
    {
        @Html.HiddenFor(model => model.LeavCertID)
        @Html.HiddenFor(model => model.Reason)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.AntiForgeryToken()
        <p>
            <div class="btn-toolbar">
                @*@Html.ActionLink("Edit", "Edit", new { id = Model.LeavCertID, iSToEdit = true }, new { @class = "btn btn-primary", style = "min-width:75px" })*@
                @Html.ActionLink("Print Certificate", "PrintLeaveCertificate", new { id = Model.LeavCertID }, new { target = "_blank", @class = "btn btn-success", style = "min-width:75px" })
            </div>
        </p>
    }
    <br />
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.StudentName)
            </div>
            @Html.LabelFor(model => model.AdmissionNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.AdmissionNo)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateLeaving, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.DateLeaving)
            </div>
            @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.Reason)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Conduct, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.Conduct)
            </div>
        </div>
    </div>
</div>
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
