@model IEnumerable<Nalanda.SMS.Areas.Admin.Models.TeacherSubjectVM>

<hr />
<h3>Teacher Subjects</h3>

<table class="mGrid">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GradeDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medium)
            </th>
            @{
                if (ViewBag.IsToEdit)
                {
                    <th class="btn-1">
                        @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-plus' style='color:white'></span>", "Add", "ChildCreate", routeValues: new { teacherId = ViewBag.TeacherId }, htmlAttributes: new { data_popup_editor = "", @class = "btn btn-primary pull-right btn-xs", data_title = "Add Teacher Subject" })
                    </th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GradeDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medium)
            </td>
            @{
                if (ViewBag.IsToEdit)
                {
                    <td class="btn-3">
                        <div class="btn-toolbar pull-right">
                            @using (Html.BeginForm("ChildDelete", "Teacher", new { id = item.Id }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-pencil' style='color:black'></span>", "Edit", "ChildEdit", routeValues: new { id = item.Id }, htmlAttributes: new { data_popup_editor = "", @class = "btn btn-warning btn-xs", data_title = "Edit Teacher Subject" })
                                @Html.ConfirmSubmitButton("<span class='glyphicon glyphicon-trash'></span>", "Are you sure you want to delete?", "Confirm subject deletion", "<span class='glyphicon glyphicon-trash'></span> Delete", new { data_popup_delete = "", @class = "btn btn-danger btn-xs" })
                            }
                        </div>
                    </td>
                }
            }
        </tr>
        }
    </tbody>
</table>

@if (ViewBag.IsToEdit)
{
    Html.RenderPartial("~/Areas/Base/Views/Shared/_PartialAlert.cshtml");
}


