@model Nalanda.SMS.Areas.Admin.Models.TeacherVM

@{
    ViewBag.Title = "Teacher Information Details";
}

<div>
    <hr />
    @using (Html.BeginForm("Delete", "Teacher"))
    {
        @Html.HiddenFor(model => model.TeachId)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.AntiForgeryToken()
        <p>
            <div class="btn-toolbar">
                @Html.ActionLink("Edit", "Edit", new { id = Model.TeachId }, new { @class = "btn btn-primary", style = "min-width:75px" })
                @Html.ConfirmSubmitButton("Delete", "Are you sure you want to delete?", "Confirm teacher deletion",
                 "<span class='glyphicon glyphicon-trash'></span> Delete", new { @class = "btn btn-danger", style = "min-width:75px" })
            </div>
        </p>
    }
        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.Title)
                </div>
                @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.Gender)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.FullName)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Initials, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.Initials)
                </div>
                @Html.LabelFor(model => model.Lname, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.Lname)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.Address)
                </div>
                @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.ContactNo)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.ContactNo)
                </div>
                @Html.LabelFor(model => model.TelHome, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.TelHome)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nicno, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.Nicno)
                </div>
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.Email)
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.ImmeContactName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.ImmeContactName)
                </div>
                @Html.LabelFor(model => model.ImmeContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.ImmeContactNo)
                </div>
            </div>
            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.Status)
                </div>
                @Html.LabelFor(model => model.InactiveReason, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.InactiveReason)
                </div>
            </div>

            <br />
        </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>