@model StudentInformationSystem.Areas.Student.Models.StudentVM

@{
    ViewBag.Title = "Student Admission Details";
}

<div>
    <hr />
    @using (Html.BeginForm("Delete", "Student"))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.AntiForgeryToken()

        <p>
            <div class="btn-toolbar">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", style = "min-width:75px" })
                @Html.ConfirmSubmitButton("Delete", "Are you sure you want to delete?", "Confirm admission deletion",
                 "<span class='glyphicon glyphicon-trash'></span> Delete", new { @class = "btn btn-danger", style = "min-width:75px" })
                @Html.ActionLink("Print Student Admission Sheet", "PrintAdmissionSheet", "Student", new { id = Model.Id }, new { target = "_blank", @class = "btn btn-warning", style = "min-width:75px" })

            </div>
        </p>
    }


    <div class="row justify-content-between">
        <div class="col-md-6">
            <div class="card" style="height: 100%; width:45%; border-radius:10px;border:0px;background:transparent; float:none;margin:auto;">
                <div class="card-body center" style="text-align:center;">
                    <img class="left card-img-top" src="@Html.ActionUrl("GetPic", routeValues: new { id = Model.Id })" style="padding:0; height:180px;width:240px;object-fit:contain" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
                @Html.RequiredLabelFor(model => model.AdmissionDate, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DetailsViewFor(model => model.AdmissionDate)
                </div>
            </div>
            <div class="form-group row">
                @Html.RequiredLabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DetailsViewFor(model => model.DOB)
                </div>
            </div>
            <div class="form-group row">
                @Html.RequiredLabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DetailsViewFor(model => model.FullName)
                </div>
            </div>
            <div class="form-group row">
                @Html.RequiredLabelFor(model => model.Initials, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DetailsViewFor(model => model.Initials)
                </div>
            </div>
            <div class="form-group row">
                @Html.RequiredLabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DetailsViewFor(model => model.LastName)
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="form-group row">
        @Html.LabelFor(model => model.IndexNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DetailsViewFor(model => model.IndexNo)
        </div>
        @Html.LabelFor(model => model.SchoolEmail, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DetailsViewFor(model => model.SchoolEmail)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Address1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DetailsViewFor(model => model.Address1)
        </div>
        @Html.LabelFor(model => model.EmergContactName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DetailsViewFor(model => model.EmergContactName)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DetailsViewFor(model => model.Address2)
        </div>
        @Html.LabelFor(model => model.EmergContactNo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DetailsViewFor(model => model.EmergContactNo)
        </div>
    </div>

    <div class="form-group row">
        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DetailsViewFor(model => model.City)
        </div>
        @Html.LabelFor(model => model.Medium, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.DetailsViewFor(model => model.Medium)
        </div>
    </div>

</div>

<div class="ChildContent">
    @{ Html.RenderAction("FamilyIndex", new { id = Model.Id }); }
</div>  

<div class="ChildContent">
    @{ Html.RenderAction("ChildIndex", new { id = Model.Id }); }
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>

