@model List<StudentInformationSystem.Data.Models.Menu>

<style type="text/css">
    ul.tree, ul.tree ul {
        list-style-type: none;
        background: url(/Content/Images/vline.png) repeat-y;
        margin: 0;
        padding: 0;
    }

        ul.tree ul {
            margin-left: 10px;
        }

        ul.tree li {
            margin: 5px 0 5px 0;
            padding: 0 12px;
            line-height: 20px;
            background: url(/Content/Images/node.png) no-repeat;
            color: #369;
            font-weight: bold;
        }

            ul.tree li:last-child {
                background: #f5f5f5 url(/Content/Images/lastnode.png) no-repeat;
            }

        ul.tree span.glyphicon {
            cursor: pointer;
        }
</style>

<hr />
<h3>Menus & Actions</h3>

<p>
    <div class="btn-toolbar">
        <button id="btnExpAll" type="button" class="btn btn-default">Expand All</button>
        <button id="btnColapsAll" type="button" class="btn btn-default">Collapse All</button>
        @if (ViewBag.IsToEdit)
        {
            <button id="btnCheckAll" type="button" class="btn btn-default">Check All</button>
            <button id="btnUnchkAll" type="button" class="btn btn-default">Uncheck All</button>
        }
    </div>
</p>

@{
    var lstMenus = Html.GetAllMenus();
}

@helper IterateMenus(List<StudentInformationSystem.Data.Models.Menu> FullList, int? menuID)
{
    var lst = FullList.Where(x => x.ParentMenuId == menuID).OrderBy(x => x.DisplaySeq).ToList();

    foreach (var item in lst)
    {
        if (item.Type == "I")
        {
            if (item.MenuActions.Where(x=> x.ActionId != 0).Count() > 0)
            {
                <li data-menu-id="@item.MenuId" data-menu-action-id="0">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> @item.Text
                    <ul style="display:none">
                        @foreach (var ma in item.MenuActions)
                        {
                            if (ma.ActionId != 0)
                            {
                                <li data-menu-id="@item.MenuId" data-menu-action-id="@ma.ActionId"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> @ma.Text</li>
                            }
                        }
                    </ul>
                </li>
            }
            else
            {
                <li data-menu-id="@item.MenuId" data-menu-action-id="0"><span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> @item.Text</li>
            }
        }
        else if (item.Type == "M")
        {
            <li data-menu-id="@item.MenuId" data-menu-action-id="0">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> <span class="glyphicon glyphicon-unchecked" aria-hidden="true"></span> @item.Text
                <ul style="display:none">
                    @IterateMenus(FullList, item.MenuId)
                </ul>
            </li>
        }
    }
}

<div>
    <ul class="tree" id="tree_menu">
        @{
            @IterateMenus(lstMenus, null)
        }
    </ul>
</div>

@if (ViewBag.IsToEdit)
{
    Html.RenderPartial("~/Areas/Base/Views/Shared/_PartialAlert.cshtml");
}