@model StudentInformationSystem.Areas.Student.Models.StudentVM

@{
    ViewBag.Title = "Student Basket Subject Details";
}

<div>
    <hr />

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.RowVersion)
    @Html.AntiForgeryToken()
    <p>
        <div class="btn-toolbar">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", style = "min-width:75px" })
        </div>
    </p>

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.IndexNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.IndexNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            @Html.LabelFor(model => model.NameWithInt, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EnumEditorFor(model => model.NameWithInt, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <br />
    </div>
</div>

<div class="ChildContent">
    @{ Html.RenderAction("SubjectIndex", new { id = Model.Id }); }
</div>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>