@model StudentInformationSystem.Areas.Student.Models.ClassPromotionVM

@{
    ViewBag.Title = "Manage Class Promotion";
}

<div id="ttIndex">
    @Html.HiddenFor(x => x.Id)
    @Html.HiddenFor(model => model.Year)
    @Html.HiddenFor(model => model.GradeId)
    @Html.HiddenFor(model => model.PromotingCriteria)
    @Html.HiddenFor(x => x.RowVersion)
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            @Html.LabelFor(model => model.GradeDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.GradeDesc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CriteriaDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.CriteriaDesc, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <span style="font-size: large; font-weight: bold; color: @(Model.IsFinalized?"Red":"Green")">@Model.Status</span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-8" style="padding-left:15px">
                <div class="btn-toolbar float-right">
                    <button id="btnSave" class="btn btn-success" style="margin-right:5px; min-width:80px; display:none" disabled><i style="display:none" class="fa fa-refresh fa-spin"></i> Save</button>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div id="ChildContent">
        @{ Html.RenderAction("StudentClassIndex", new { promotionId = Model.Id, isToEdit = true }); }
    </div>

</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Student/StudentPromotion.js"></script>
}

