@model IEnumerable<StudentInformationSystem.Areas.Online.Models.OnlineClassVM>


@if (Model.Count() > 0)
{
    var grade = 0;
    var date = DateTime.MinValue;
    var ft = TimeSpan.Zero;
    var subject = "";

    <style>
        table.tt {
            color: black;
        }

            table.tt > thead > tr > th, table.tt > tbody > tr > td {
                vertical-align: middle;
            }
    </style>

    <table class="table table-bordered table-sm tt">
        <thead>
            <tr>
                <th class="text-center">Grade</th>
                <th class="text-center" style="min-width: 120px">Date</th>
                <th class="text-center" style="min-width: 180px">Duration</th>
                <th class="text-center">Subject</th>
                <th>Class</th>
                <th style="min-width: 200px">Lesson</th>
                <th style="min-width: 200px">Teacher</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cls in Model.OrderBy(x => x.GradeId).ThenBy(x => x.Date).ThenBy(x => x.FromTime).ThenBy(x => x.Subject).ThenBy(x => x.ocrVM.ClassCode))
            {

                <tr>
                    @if (grade != cls.GradeId)
                    {
                        <td class="align-middle text-center" rowspan="@Model.Where(x => x.GradeId == cls.GradeId).Count()">@cls.OnlineClassRoom.Grade.GradeNo.ToEnumChar()</td>
                    }
                    @if (grade != cls.GradeId || date != cls.Date)
                    {
                        <td class="align-middle text-center" rowspan="@Model.Where(x => x.GradeId == cls.GradeId && x.Date == cls.Date).Count()">@cls.Date.ToString("yyyy-MMM-dd")</td>
                    }
                    @if (grade != cls.GradeId || date != cls.Date || ft != cls.FromTime)
                    {
                        <td class="align-middle text-center" rowspan="@Model.Where(x => x.GradeId == cls.GradeId && x.Date == cls.Date && x.FromTime == cls.FromTime).Count()">@(DateTime.Today.Add(cls.FromTime).ToString("hh:mm tt") + " - " + DateTime.Today.Add(cls.ToTime).ToString("hh:mm tt"))</td>
                    }
                    @if (date != cls.Date || ft != cls.FromTime || subject != cls.Subject)
                    {
                        <td class="align-middle text-center" rowspan="@Model.Where(x => x.Date == cls.Date && x.FromTime == cls.FromTime && x.Subject == cls.Subject).Count()">@cls.Subject</td>
                    }
                    <td class="align-middle">@cls.ocrVM.ClassCode</td>
                    <td class="align-middle">@cls.Lesson</td>
                    <td class="align-middle">@cls.teacherVM.TeacherName</td>
                    <td>
                        <div class="btn-toolbar pull-right">
                            @using (Html.BeginForm("TimeTableDelete", "OnlineTimeTable", new { id = cls.Id }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.NoEncodeActionLink("<span class='glyphicon glyphicon-edit' style='color:white'></span>", "Edit", "TimeTableEdit", routeValues: new { id = cls.Id }, htmlAttributes: new { data_popup_editor = "", @class = "btn btn-warning btn-xs", data_title = "Edit Online Session", style = "margin-right:5px", data_popup_width = "1000", data_refresh_function = "ReloadTimeTable" })
                                @Html.ConfirmSubmitButton("<span class='glyphicon glyphicon-trash'></span>", "Are you sure you want to delete?", "Confirm online session deletion",
                                    "<span class='glyphicon glyphicon-trash'></span> Delete", new { @class = "btn btn-danger btn-xs", style = "margin-right:5px" })
                                <a class="btn" href="@cls.OnlineClassRoom.GoogleClassrommLink" style="padding:0" target="_blank">
                                    <img src="~/Content/Images/classroom.png" height="21" />
                                </a>
                            }
                        </div>
                    </td>
                </tr>
                grade = cls.GradeId;
                date = cls.Date;
                ft = cls.FromTime;
                subject = cls.Subject;
            }
        </tbody>
    </table>
}

@{
    Html.RenderPartial("~/Areas/Base/Views/Shared/_PartialAlert.cshtml");
}


