@{
    var lstMenus = Html.GetAccessibleMenus();
    var lstFirst = lstMenus.Where(x => x.ParentMenuID == null).OrderBy(x => x.DisplaySeq).ToList();
}

@helper ThirdLevel(List<SMS.Common.DB.Menu> FullList, int menuID, int level)
{
var lst = FullList.Where(x => x.ParentMenuID == menuID).OrderBy(x => x.DisplaySeq).ToList();

foreach (var item in lst)
{
    if (item.Type == "I")
    {
            <li role="menuitem">@Html.ActionLink(item.Text, item.Action, item.Controller, new { area = item.Area }, new { })</li>
    }
    else if (item.Type == "D")
    {
            <li role="menuitem" class="divider"></li>
    }
    else if (item.Type == "M")
    {
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@item.Text</a>
                <ul class="dropdown-menu menu-ul-color" role="menu" aria-labelledby="@level.ToString()">
                    @ThirdLevel(FullList, item.MenuID, level + 1)
                </ul>
            </li>
    }
}
}

@helper SecondLevel(List<SMS.Common.DB.Menu> FullList, int menuID)
{
var lst = FullList.Where(x => x.ParentMenuID == menuID).OrderBy(x => x.DisplaySeq).ToList();

foreach (var item in lst)
{
    if (item.Type == "I")
    {
            <li role="menuitem">@Html.ActionLink(item.Text, item.Action, item.Controller, new { area = item.Area }, new { })</li>
    }
    else if (item.Type == "D")
    {
            <li class="divider"></li>
    }
    else if (item.Type == "M")
    {
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">@item.Text</a>
                <ul class="dropdown-menu menu-ul-color" role="menu" aria-labelledby="sec">
                    @ThirdLevel(FullList, item.MenuID, 3)
                </ul>
            </li>
    }
}
}

@helper FirstLevel(List<SMS.Common.DB.Menu> lstMenus, bool isSub)
{
var lstFirst = lstMenus.Where(x => x.ParentMenuID == null).OrderBy(x => x.DisplaySeq).ToList();

if (lstFirst.Count > 0)
{
        @*<li class="divider-vertical"></li>*@
}

foreach (var item in lstFirst)
{
    if (item.Type == "I")
    {
            <li role="menuitem">@Html.ActionLink(item.Text, item.Action, item.Controller, new { area = item.Area }, new { })</li>
    }
    else if (item.Type == "M")
    {
        if (isSub)
        {
                <li class="dropdown-submenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@item.Text</a>
                    <ul class="dropdown-menu menu-ul-color" role="menu" aria-labelledby="top">
                        @SecondLevel(lstMenus, item.MenuID)
                    </ul>
                </li>
        }
        else
        {
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@item.Text <b class="caret"></b></a>
                    <ul class="dropdown-menu menu-ul-color" role="menu" aria-labelledby="top">
                        @SecondLevel(lstMenus, item.MenuID)
                    </ul>
                </li>
        }
    }
    else if (item.Type == "D" && isSub)
    {
        if (isSub)
        {
                <li class="divider"></li>
        }
        else
        {
                @*<li class="divider-vertical"></li>*@
        }
    }

}
}

<ul class="nav navbar-nav">
    @{
        if (lstFirst.Count > 1)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-chevron-down"></span></a>
                <ul class="dropdown-menu menu-ul-color" role="menu" aria-labelledby="top">
                    @FirstLevel(lstMenus, true)
                </ul>
            </li>
        }
        else
        {
            @FirstLevel(lstMenus, false)
        }
    }
</ul>