@model SMS.Areas.Base.Models.ReportParameterVM
@{
    ViewBag.Title = "Class Wise Student ID Card";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <p>
        <input type="submit" value="Generate" class="btn btn-primary" style="min-width:75px" />
    </p>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.PeriodID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.PopUpSelectorFor(model => model.PeriodID, "Base", "Data", "GetPeriods", new { @class = "form-control" }, "Please select a Period", dspFormat: "{1}", hiddenIndices: "0", dataParas: new { inReverseOn = true })
            @Html.ValidationMessageFor(model => model.PeriodID, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.PeriodTo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.EditorFor(model => model.PeriodTo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.PeriodTo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClassID, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            @Html.PopUpSelectorFor(model => model.ClassID, "Base", "Data", "GetPromotClasses", new { @class = "form-control" }, "Please select a Class", dspFormat: "{1}", hiddenIndices: "0", dataParas: new { classID = Model.PeriodID })
            @Html.ValidationMessageFor(model => model.ClassID, "", new { @class = "text-danger" })
        </div>
    </div>

</div>
}

<div>
    @Html.ActionLink("Back to Home", "Index", "Home", new { area = "Base" }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/student/reports")
}
