@model StudentInformationSystem.Areas.Academic.Models.PhysicalClassRoomVM

@{
    ViewBag.Title = "Classroom Details";
}

<div>
    <hr />
    @using (Html.BeginForm("Delete", "ClassRoom"))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.AntiForgeryToken()
        <p>
            <div class="btn-toolbar">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", style = "min-width:75px" })
                @Html.ConfirmSubmitButton("Delete", "Are you sure you want to delete?", "Confirm classroom deletion",
                 "<span class='glyphicon glyphicon-trash'></span> Delete", new { @class = "btn btn-danger", style = "min-width:75px" })
            </div>
        </p>

        <div class="form-horizontal">
            <div class="form-group">
                @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.Year)
                </div>
                @Html.LabelFor(model => model.GradeClassDesc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.GradeClassDesc)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Medium, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.Medium)
                </div>
                @Html.LabelFor(model => model.ClassTeacherName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DetailsViewFor(model => model.ClassTeacherName)
                </div>
            </div>

            <br />

            <div class="ChildContent">
                @{ Html.RenderAction("SubjectIndex", new { id = Model.Id }); }
            </div>

            <div class="ChildContent">
                @{ Html.RenderAction("MonitorIndex", new { id = Model.Id }); }
            </div>

            <div class="ChildContent">
                @{ Html.RenderAction("StudentIndex", new { id = Model.Id }); }
            </div>
        </div>
    }

</div>

<br />
<p>
    @Html.ActionLink("Back to List", "Index")
</p>