@model StudentInformationSystem.Common.BaseViewModel<StudentInformationSystem.Areas.Academic.Models.PhysicalClassRoomVM>

@{
    ViewBag.Title = "Physical Classroom Information";
    var grid = Model.GetGrid();
}

@{
    var srchOpts = new List<SelectListItem>();
    srchOpts.Add(new SelectListItem { Text = "Year", Value = "Year" });
    srchOpts.Add(new SelectListItem { Text = "Grade Class", Value = "GradeClassDesc" });
    srchOpts.Add(new SelectListItem { Text = "Class Teacher", Value = "ClassTeacherName" });
    srchOpts.Add(new SelectListItem { Text = "Medium", Value = "Medium" });
}

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary", style = "min-width:75px" })
</p>

@using (Html.BeginForm("Index", null, FormMethod.Get))
{
    <div class="form-horizontal row">
        <div class="col-md-4">
            <div class="form-group">
                @Html.Label("Search&nbsp;By", htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownList("FilterBy", new SelectList(srchOpts, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.Filter, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <input type="submit" value="Search" name="Search" class="btn btn-default" />
        </div>
    </div>
    <hr />

    <div id="content">
        @grid.GetHtml(
        tableStyle: "mGrid no-foot",
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
            grid.Column(null, null, format: (item) => Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open' style='color:black'></span>", "View Details", "Details", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning btn-xs" }), style: "btn-1"),
            grid.SortColumn(columnName: "Year", header: "Year"),
            grid.SortColumn(columnName: "GradeClassDesc", header: "Grade Class"),
            grid.SortColumn(columnName: "ClassTeacherName", header: "Class Teacher"),
            grid.SortColumn(columnName: "Medium", header: "Medium", format: (item) => ((Enum)item.Medium).ToEnumChar())))

        <div id="content-footer">
            @grid.PagerList(WebGridPagerModes.All, Model.PageSize, Model.TotalRecords)
        </div>
    </div>
}