@model Nalanda.SMS.Areas.Student.Models.StudSiblingsVM

@{ Html.RenderPartial("~/Areas/Base/Views/Shared/_PartialAlert.cshtml"); }

@using (Html.BeginForm())
{
    <br />
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SubID)
        @Html.HiddenFor(model => model.SudID)
        @Html.HiddenFor(model => model.Initials)
        @Html.HiddenFor(model => model.LName)
        @Html.HiddenFor(model => model.RowVersion)

        <div class="form-group">
            @Html.LabelFor(model => model.SiblingStudID, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.PopUpSelectorFor(model => model.SiblingStudID, "Base", "Data", "GetStudents", new { @class = "form-control" }, "Please select a Student", dspFormat: "{2}", hiddenIndices: "0", dataParas: new { isOldStudent = false })
                @Html.ValidationMessageFor(model => model.SiblingStudID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IndexNo, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.IndexNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.IndexNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StudWithInit, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.StudWithInit, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.StudWithInit, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Relationship, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.EnumEditorFor(model => model.Relationship, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Relationship, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="pull-right">
            <p>
                <div class="btn-toolbar">
                    <input type="submit" value="Save" class="btn btn-primary" style="min-width:75px" />
                    <input type="button" value="Cancel" class="btn btn-default" style="min-width:75px" />
                </div>
            </p>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


