@model Nalanda.SMS.Areas.Student.Models.StudentVM

@{
    ViewBag.Title = "Student Admission Details";
}

<div>
    <hr />
    @using (Html.BeginForm("Delete", "Student"))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.AntiForgeryToken()

        <p>
            <div class="btn-toolbar">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", style = "min-width:75px" })
                @Html.ConfirmSubmitButton("Delete", "Are you sure you want to delete?", "Confirm admission deletion",
                 "<span class='glyphicon glyphicon-trash'></span> Delete", new { @class = "btn btn-danger", style = "min-width:75px" })
                @Html.ActionLink("Print Student Admission Sheet", "PrintAdmissionSheet", "Student", new { id = Model.Id }, new { target = "_blank", @class = "btn btn-warning", style = "min-width:75px" })

            </div>
        </p>
    }


    <div class="form-horizontal stud-image-container">
        <div class="stud-image">
            <img class="btn" src="@Html.ActionUrl("GetPic", routeValues: new { id = Model.Id })" height="200" style="padding:0" />
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IndexNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.IndexNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdmissionDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.AdmissionDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dob, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.Dob)
            </div>
        </div>

        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.FullName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Initials, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.Initials)
            </div>
            @Html.LabelFor(model => model.Lname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.Lname)
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.Address)
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.LastGrade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.LastGrade)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EmergencyConName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.EmergencyConName)
            </div>
            @Html.LabelFor(model => model.EmergencyContactTel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.EmergencyContactTel)
            </div>
        </div>
        <br />

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.Status)
            </div>
            @Html.LabelFor(model => model.InactiveReason, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.InactiveReason)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsLeavingIssued, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.IsLeavingIssued)
            </div>
        </div>

        <div class="ChildContent">
            @{ Html.RenderAction("FamilyIndex", new { id = Model.Id }); }
        </div>
        <div class="ChildContent">
            @{ Html.RenderAction("ChildIndex", new { id = Model.Id }); }
        </div>
        <div class="ChildContent">
            @{ Html.RenderAction("PositionIndex", new { id = Model.Id }); }
        </div>
        <div class="ChildContent">
            @{ Html.RenderAction("AcheivementIndex", new { id = Model.Id }); }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

