@using StudentInformationSystem.Data.Models;
@model StudentInformationSystem.Areas.Report.Models.ReportParameterVM

@{
    ViewBag.Title = "Term Wise Student Marks";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmReport" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <br />
        <p>
            @Html.SubmitToDifferentAction("Generate PDF", new { @class = "btn btn-primary", style = "min-width:75px" }, "Pdf")
            @Html.SubmitToDifferentAction("Generate Excel Sheet", new { @class = "btn btn-success", style = "min-width:75px" }, "Excel")
        </p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GradeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.SelectListFor(model => model.GradeId, (Grade x) => x.Id, (Grade x) => x.Section.Code + " - " + x.GradeNo.ToEnumChar(), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GradeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MarksReportOrderBy, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EnumEditorFor(model => model.MarksReportOrderBy, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MarksReportOrderBy, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/Report/ReportForm.js"></script>
}
