
@{
    ViewBag.Title = "Admission Map Circle";
}

<div class="form-horizontal row no-print" style="padding-bottom:20px">
    <div class="col-md-4">
        <div class="form-group">
            @Html.Label("Home Location", htmlAttributes: new { @class = "control-label col-md-3", style = "white-space: nowrap;" })
            <div class="col-md-9">
                <div class="input-group">
                    @Html.TextBox("HomeLocation", "", htmlAttributes: new { @class = "form-control" })
                    <div class="input-group-btn">
                        <input id="btnSetHomeLoc" type="button" value="Set" name="SetLocation" class="btn btn-primary" />
                        <input id="btnFindHomeLoc" type="button" value="Find" name="SetLocation" class="btn btn-warning" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        @Html.NoEncodeActionLink("Print", "Print", "PrintMap", routeValues: new { homeLatitude = 0, homeLongitude = 0 },
           htmlAttributes: new
           {
               data_popup_editor = "",
               @class = "btn btn-success",
               data_title = "Select Applicant",
               data_no_auto_close = "1",
               style = "margin-right:5px; min-width:80px",
               data_refresh_function = "PrintAdmissionMap",
               data_before_function = "BeforePrintAdmissionMap"
           })
    </div>
</div>

<div id="divPrint">
    <div class="yes-print" style="display:none">
        <div style="text-align:center;margin-top:-10px"><span id="printSpanHeader" style="font-size:20px;font-weight:bolder"></span></div>
        <br />
        <span id="printSpanAddress" style="font-size:12px">Home Address : </span>
        <span id="printSpanPosition" style="font-size:12px">Home Location : </span>
        <sapn id="printSpanDistance" style="font-size:12px">Distance to School : </sapn>
        <br />
    </div>
    <div class="col-md-12 map-div" style="height: 70vh" id="map"></div>
    <div id="divPrintBottom" class="yes-print" style="display:none; text-align:center">
        <br />
        <label style="white-space:nowrap; font-size:14px">නිවස පිහිටා ඇති ස්ථානය නිවැරදි බවට ප්‍රකාශ කරමි.</label>
        <br />
        <label style="margin-top: 10px; white-space: nowrap; font-size: 14px">...............................</label>
        <label id="lblPrintApplicantName" style="margin-top: 10px; white-space: nowrap; font-size: 14px"></label>
        <label style="margin-top: 10px; white-space: nowrap; font-size: 10px">(Applicant Name)</label>
    </div>
    <footer class="yes-print" style="display:none;">
        <div style="float:left;padding-left:10px"><span id="printSpanBy"></span></div>
        <div style="float: right; padding-right: 25px"><span id="printSpanOn"></span></div>
    </footer>
</div>

<style>
    .marker-position {
        margin-top: 55px;
        font-size: 20px;
        font-weight: bold;
        color: black;
    }

    @@media print {
        .no-print, .no-print * {
            display: none !important;
        }

        .yes-print, .yes-print * {
            display: block !important;
        }

        .map-div {
            height: 65vh !important;
        }

        footer {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            height: 50px;
        }

        @@page {
            margin: 0;
        }
    }
</style>

<script>
    const schoolsJson = '@Html.Raw(ViewBag.NearbySchoolsJson)';
    const ncPositionJson = '@Html.Raw(ViewBag.SchoolLocationJson)';
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/admin/mapcircle")
}