@model StudentInformationSystem.Areas.Academic.Models.ClassVM

@{
    ViewBag.Title = "Create Class";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <p>
            <input type="submit" value="Save" class="btn btn-primary" style="min-width:75px" />
        </p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Year, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.GradeClassId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.PopUpSelectorFor(model => model.GradeClassId, "Base", "Data", "GetGradeClasses", new { @class = "form-control" }, "Please select a Grade", null, dspFormat: "{1}", hiddenIndices: "0")
                @Html.ValidationMessageFor(model => model.GradeClassId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Medium, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EnumEditorFor(model => model.Medium, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Medium, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

<div class="ChildContent">
    @{ Html.RenderAction("TeacherIndex", new { id = Model.Id, isToEdit = true }); }
</div>

<div class="ChildContent">
    @{ Html.RenderAction("StudentIndex", new { id = Model.Id, isToEdit = true }); }
</div>

<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
