@model StudentInformationSystem.Areas.Student.Models.StudentExtraActivityPositionVM

@{ Html.RenderPartial("~/Areas/Base/Views/Shared/_PartialAlert.cshtml"); }

@using (Html.BeginForm())
{
    <br />
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.StudentId)
    @Html.HiddenFor(model => model.RowVersion)

    <div class="form-group">
        @Html.LabelFor(model => model.PositionId, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.PopUpSelectorFor(model => model.PositionId, "Base", "Data", "GetActivityPositions", new { @class = "form-control" }, "Please select an activity position", null, dspFormat: "{1}", hiddenIndices: "0")
            @Html.ValidationMessageFor(model => model.PositionId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.FromDate, new { htmlAttributes = new { @class = "form-control form-control-sm", type = "JQ-date", data_default_date = DateTime.Now.ToString("yyyy-MM-dd") } })
            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.EditorFor(model => model.ToDate, new { htmlAttributes = new { @class = "form-control form-control-sm", type = "JQ-date", data_default_date = DateTime.Now.ToString("yyyy-MM-dd") } })
            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-8">
            @Html.TextAreaFor(model => model.Remarks, 3, 2, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
        </div>
    </div>

    <hr />
    <div class="pull-right">
        <p>
            <div class="btn-toolbar">
                <input type="submit" value="Save" class="btn btn-primary" style="min-width:75px" />
                <input type="button" value="Cancel" class="btn btn-default" style="min-width:75px" />
            </div>
        </p>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


