@model Nalanda.SMS.Areas.Student.Models.ClubMemberVM

@{
    ViewBag.Title = "Club Membership Details";
}

<div>
    <hr />
    @using (Html.BeginForm("Delete", "Teacher"))
    {
        @Html.HiddenFor(model => model.CMID)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.AntiForgeryToken()
        <p>
            <div class="btn-toolbar">
                @Html.ActionLink("Edit", "Edit", new { id = Model.CMID }, new { @class = "btn btn-primary", style = "min-width:75px" })
            </div>
        </p>
    }
    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.StudentName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.StudentName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ClubDesc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.ClubDesc)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MemberDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.MemberDate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MembershipType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.MembershipType)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CommiteeMemberType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.CmemberType)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.Status)
            </div>
        </div>
        <br />
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

