@model StudentInformationSystem.Areas.Online.Models.OCR_ClassRoomVM

@{ Html.RenderPartial("~/Areas/Base/Views/Shared/_PartialAlert.cshtml"); }

@using (Html.BeginForm())
{
    <br />
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.OCR_Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CR_Id, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-8">
                @Html.PopUpSelectorFor(model => model.CR_Id, "Base", "Data", "GetClassRooms", new { @class = "form-control" }, "Please select a physical classroom", null, dspFormat: "{2}", hiddenIndices: "0")
                @Html.ValidationMessageFor(model => model.CR_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="pull-right">
            <p>
                <div class="btn-toolbar">
                    <input type="submit" value="Save" class="btn btn-primary" style="min-width:75px" />
                    <input type="button" value="Cancel" class="btn btn-default" style="min-width:75px" />
                </div>
            </p>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


