@using StudentInformationSystem.Data.Models;
@model StudentInformationSystem.Areas.Report.Models.ReportParameterVM

@{
    ViewBag.Title = "Student Informations";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmReport" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <br />
        <p>
            @Html.SubmitToDifferentAction("Generate PDF", new { @class = "btn btn-primary", style = "min-width:75px" }, "Pdf")
            @*@Html.SubmitToDifferentAction("Generate Excel Sheet", new { @class = "btn btn-success", style = "min-width:75px" }, "Excel")*@
        </p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.StudentId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.PopUpSelectorFor(model => model.StudentId, "Base", "Data", "GetStudents", new { @class = "form-control" }, "Please select a student", dspFormat: "{2}", hiddenIndices: "0")
                @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/Scripts/Report/ReportForm.js"></script>
}