@model StudentInformationSystem.Areas.Teacher.Models.TeacherVM

@{
    ViewBag.Title = "Teacher Information Details";
}

<div>
    <hr />
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.RowVersion)
    @Html.AntiForgeryToken()
    <p>
        <div class="btn-toolbar">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", style = "min-width:75px" })
        </div>
    </p>
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.StaffNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.StaffNumber)
            </div>
            @Html.LabelFor(model => model.TeacherName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.TeacherName)
            </div>
        </div>

        <br />

        <div class="ChildContent">
            @{ Html.RenderAction("PrefSubjectIndex", new { id = Model.Id }); }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>