@model Nalanda.SMS.Areas.Student.Models.PrefectVM

@{
    ViewBag.Title = "Prefect Guild Details";
}

<div>
    <hr />
    @using (Html.BeginForm("", "PrefectGuild"))
    {
        @Html.HiddenFor(model => model.PreID)
        @Html.HiddenFor(model => model.PrefClassID)
        @Html.HiddenFor(model => model.StudID)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.AntiForgeryToken()

        <p>
            <div class="btn-toolbar">
                @Html.ActionLink("Print Prefect Guild", "PrintCurPrefGuild", "PrefectGuild", new {}, new { target = "_blank", @class = "btn btn-warning", style = "min-width:75px" })
                
            </div>
        </p>
    }

    <div class="form-horizontal">

        <div class="form-group">
            @Html.LabelFor(model => model.SeniorCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.SeniorCount)
            </div>
            @Html.LabelFor(model => model.JuniorCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.JuniorCount)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PendingCount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.PendingCount)
            </div>
        </div>

        <div id="ChildContent">
            @{ Html.RenderAction("ChildIndex", new { id = Model.PreID, isSenior = true }); }
        </div>
        <br />

        <div id="ChildContent">
            @{ Html.RenderAction("ChildIndex", new { id = Model.PreID, isJunior = true }); }
        </div>

        <br />
        <div id="ChildContent">
            @{ Html.RenderAction("ChildIndex", new { id = Model.PreID, isPending = true }); }
        </div>
        <br />

    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

