@model StudentInformationSystem.Areas.Admin.Models.SectionHeadVM

@{
    ViewBag.Title = "Section Head Details";
}

<div>
    <hr />
    @using (Html.BeginForm("Delete", "SectionHead"))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.AntiForgeryToken()
        <p>
            <div class="btn-toolbar">
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary", style = "min-width:75px" })
                @Html.ConfirmSubmitButton("Delete", "Are you sure you want to delete?", "Confirm section head deletion",
                 "<span class='glyphicon glyphicon-trash'></span> Delete", new { @class = "btn btn-danger", style = "min-width:75px" })
            </div>
        </p>
    }
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Year, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.Year)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SectionName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.SectionName)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SectionHead, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.SectionHead)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.FromDate)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.ToDate)
            </div>
        </div>
        <br />
    </div>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>