@model SMS.Areas.Admin.Models.PeriodSetupVM

@{
    ViewBag.Title = "Academic Period Setup Details";
}

<div>
    <hr />
    @using (Html.BeginForm("Confirm", "PeriodSetup"))
    {
        @Html.HiddenFor(model => model.PeriodID)
        @Html.HiddenFor(model => model.RowVersion)
        @Html.AntiForgeryToken()
        <p>
            <div class="btn-toolbar">
                @{
                    if (!Model.IsPeriodComplete == true)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = Model.PeriodID, iSToEdit = true }, new { @class = "btn btn-primary", style = "min-width:75px" })
                        @*@Html.ActionLink("Complete Academic Period", "Confirm", new { id = Model.PeriodID }, new { @class = "btn btn-success", style = "min-width:75px" })*@
                        @Html.ConfirmSubmitButton("Complete Academic Period", "Once the Academic Period is Completed, no changes can be made for that academic period. Are you sure you want to Complete academic period? ",
                                  "Complete Academic Period", "<span class='glyphicon glyphicon-thumbs-up'></span>Confirm",
                                  new { @class = "btn btn-success", style = "min-width:75px" }, "btn-success", "Confirm")
                    }
                    else
                    {
                        <span style="font-weight:bold;color:red">Period Setup Completed</span>

                    }
                }


            </div>
        </p>
}

    <br />
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.PeriodStartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.PeriodStartDate)
            </div>
            @Html.LabelFor(model => model.PeriodEndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.DetailsViewFor(model => model.PeriodEndDate)
            </div>
        </div>
    </div>
</div>
<br />
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}