@model StudentInformationSystem.Common.BaseViewModel<StudentInformationSystem.Areas.Admin.Models.UserVM>

@{
    ViewBag.Title = "Users";
    var grid = Model.GetGrid();
}

@{
    var srchOpts = new List<SelectListItem>();
    srchOpts.Add(new SelectListItem { Text = "User Name", Value = "UserName" });
}

<p>
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary", style = "min-width:75px" })
</p>

@using (Html.BeginForm("Index", null, FormMethod.Get))
{
    @Html.HiddenFor(model => model.FilterBy, new { Value = "UserName" });
    <div class="form-horizontal row">
        <div class="form-inline">
            <div class="col-md-6">
                @Html.EditorFor(model => model.Filter, new { htmlAttributes = new { @class = "form-control" } })
                <input type="submit" value="Search" name="Search" class="btn btn-default" />
            </div>
        </div>
    </div>

    <hr />

    <div id="content">
        @grid.GetHtml(
        tableStyle: "mGrid no-foot",
        mode: WebGridPagerModes.All,
        columns: grid.Columns(
            grid.Column(null, null, format: (item) => Html.NoEncodeActionLink("<span class='glyphicon glyphicon-eye-open' style='color:black'></span>", "View Details", "Details", routeValues: new { id = item.Id }, htmlAttributes: new { @class = "btn btn-warning btn-xs" }), style: "btn-1"),
            grid.SortColumn(columnName: "UserName", header: "User Name"),
            grid.SortColumn(columnName: "SatffName", header: "Satff Member"),
            grid.SortColumn(columnName: "VisitorName", header: "Visitor"),
            grid.SortColumn(columnName: "Status", header: "Status", format: (item) => ((Enum)item.Status).ToEnumChar())))
        <div id="content-footer">
            @grid.PagerList(WebGridPagerModes.All, Model.PageSize, Model.TotalRecords)
        </div>
    </div>
}